.guage {
    position: relative;
     top: 0;
     left: 0;
}
.scale {
    position: relative;
    top: 0;
    left: 0;
  }
  .scaleobjects {
    position: absolute;
    top: 0;
    left: 0;
    
 }
 .circleoff {
   position: absolute;
   top: 170px;
   left: 90px;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: radial-gradient(circle, rgb(124, 18, 18) 0%, rgba(58,21,21,1) 100%);
 }
 .circleon {
   position: absolute;
   top: 170px;
   left: 90px;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: radial-gradient(circle, rgb(255, 153, 153) 0%, rgb(255, 0, 0) 100%);
 }